body{
    display: flex;
    flex-direction: column;
    height: 100vh;
}
.header{

display: flex;
align-items: center;
background-color: green;
height: 70px;
font-size: 32px;
font-weight: bolder;
padding-left: 0 2em;
margin:0;
}
.body{
display: flex;
background-color: rgb(148, 199, 106);
flex:1;
flex-direction: column;
align-items: center;
border: solid 3px red;
}

.calculatorContainer{
flex-direction: column;
border: solid 4px #BEB4D6;
justify-content: space-around;
background-color: #D5D6EA;
border-radius: 20px;

}
.columnContainer{
    display: flex;
    flex-direction: row;
}
.columns{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    /*background-color: #816bb4;*/
    margin:10px;
}
button{
    background-color: #C6E2E9;
    border: solid 2px #6E7B8F;
    border-radius: 5px;
    margin:10px;
}
.thing{

background-color: aqua;
border-width: 10px;

}